.styleFontLabel18 {
      -fx-font-family: 'Book Antiqua';
      -fx-font-size: 18px;
}

.fontLabel14 {
    -fx-font-family: 'Book Antiqua';
    -fx-font-size: 14px;
}

.fontColumnl12 {
    -fx-font-family: 'Book Antiqua';
    -fx-font-size: 12px;
}

